.select{
  height: 10vh;
  display: flex;
  justify-content: center;
  border: medium solid white;
  border-radius: 2rem;
  padding: 1vh;
  background-color: blueviolet;
  color: white;
}
.select > label{
  border: thin solid green;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select> label> span{
  font-size: 2.5rem;
}
.selection{
  border: thin solid pink;
  width: 50%;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 1rem;
  padding-left: 12%;
  background-color: rgb(29, 29, 30);
  color: white;
  
}
.selection > option{
  font-size: 1.5rem;
  height: 2rem;
  text-align: left;
  margin-left: 30%;
}